{
  "openapi": "3.1.0",
  "info": {
    "description": "Komga REST API.\n\n## Reference\n\nCheck the API reference:\n- on the [Komga website](https://komga.org/docs/openapi/komga-api)\n- on any running Komga instance at `/swagger-ui.html`\n- on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)\n\n## Authentication\n\nMost endpoints require authentication. Authentication is done using either:\n- Basic Authentication\n- Passing an API Key in the `X-API-Key` header\n\n## Sessions\n\nUpon successful authentication, a session is created, and can be reused.\n\n- By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies.\n- If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.\n\nIf you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.\n\n## Remember Me\n\nDuring authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.\n\n## Logout\n\nYou can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.\n\n## Deprecation\n\nAPI endpoints marked as deprecated will be removed in the next major version.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/gotson/komga/blob/master/LICENSE"
    },
    "title": "Komga API",
    "version": "1.27.1-fork-0.1.6"
  },
  "externalDocs": {
    "description": "Komga documentation",
    "url": "https://komga.org"
  },
  "servers": [
    {
      "url": "https://demo.komga.org",
      "description": "Demo server"
    },
    {
      "url": "http://localhost:{port}",
      "description": "Local development server",
      "variables": {
        "port": {
          "enum": [
            "8080",
            "25600"
          ],
          "default": "25600"
        }
      }
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "description": "Retrieve referential metadata from all items in the Komga server.",
      "name": "Referential metadata"
    },
    {
      "description": "List registered OAuth2 providers",
      "name": "OAuth2"
    },
    {
      "description": "Manage collections.",
      "name": "Collections"
    },
    {
      "name": "ComicRack"
    },
    {
      "description": "List files from the host server's file system",
      "name": "File system"
    },
    {
      "description": "Manage server tasks",
      "name": "Tasks"
    },
    {
      "description": "Sync points are automatically created during a Kobo sync.",
      "name": "Sync points"
    },
    {
      "name": "Import"
    },
    {
      "description": "Manage libraries.",
      "name": "Libraries"
    },
    {
      "name": "WebPub Manifest"
    },
    {
      "description": "Manage users.",
      "name": "Users"
    },
    {
      "description": "Manage readlists.",
      "name": "Readlists"
    },
    {
      "description": "Retrieve releases information",
      "name": "Releases"
    },
    {
      "description": "Manage posters for readlists.",
      "name": "Readlist Poster"
    },
    {
      "description": "Manage current user.",
      "name": "Current user"
    },
    {
      "description": "Server events history",
      "name": "History"
    },
    {
      "description": "Store and retrieve global and per-user settings. Those settings are not used by Komga itself, but can be stored for convenience by client applications.",
      "name": "Client settings"
    },
    {
      "description": "Manage books.",
      "name": "Books"
    },
    {
      "description": "Retrieve announcements from the Komga website",
      "name": "Announcements"
    },
    {
      "description": "Chapter URL tracking for duplicate prevention",
      "name": "Chapter URLs"
    },
    {
      "name": "Readlist Books"
    },
    {
      "description": "System health check endpoints",
      "name": "Health"
    },
    {
      "description": "Manage posters for collections.",
      "name": "Collection Poster"
    },
    {
      "description": "Manage series.",
      "name": "Series"
    },
    {
      "name": "Mihon"
    },
    {
      "description": "Manage duplicate pages. Duplicate pages are identified by a page hash.",
      "name": "Duplicate Pages"
    },
    {
      "name": "Collection Series"
    },
    {
      "name": "Book Pages"
    },
    {
      "description": "Store and retrieve server settings",
      "name": "Server settings"
    },
    {
      "description": "Provide font files and CSS for the Epub Reader.",
      "name": "Fonts"
    },
    {
      "description": "Import operations for external app data",
      "name": "Import"
    },
    {
      "name": "User session"
    },
    {
      "description": "Manage server",
      "name": "Management"
    },
    {
      "name": "Deprecated"
    },
    {
      "description": "Manage posters for books.",
      "name": "Book Poster"
    },
    {
      "description": "Manage manga downloads from external sources.",
      "name": "Downloads"
    },
    {
      "description": "Manage posters for series.",
      "name": "Series Poster"
    },
    {
      "description": "Database backup and restore operations",
      "name": "Backup"
    },
    {
      "description": "Manage API Keys",
      "name": "API Keys"
    },
    {
      "description": "Claim a freshly installed Komga server.",
      "name": "Claim"
    },
    {
      "description": "Manage plugins for metadata providers, downloaders, and other extensions.",
      "name": "Plugins"
    }
  ],
  "paths": {
    "/actuator/info": {
      "get": {
        "description": "Required role: **ADMIN**",
        "operationId": "getActuatorInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": "{\n  \"git\": {\n    \"branch\": \"master\",\n    \"commit\": {\n      \"id\": \"9be980d\",\n      \"time\": \"2025-03-12T03:40:38Z\"\n    }\n  },\n  \"build\": {\n    \"artifact\": \"komga\",\n    \"name\": \"komga\",\n    \"version\": \"1.21.2\",\n    \"group\": \"komga\"\n  },\n  \"java\": {\n    \"version\": \"23.0.2\",\n    \"vendor\": {\n      \"name\": \"Eclipse Adoptium\",\n      \"version\": \"Temurin-23.0.2+7\"\n    },\n    \"runtime\": {\n      \"name\": \"OpenJDK Runtime Environment\",\n      \"version\": \"23.0.2+7\"\n    },\n    \"jvm\": {\n      \"name\": \"OpenJDK 64-Bit Server VM\",\n      \"vendor\": \"Eclipse Adoptium\",\n      \"version\": \"23.0.2+7\"\n    }\n  },\n  \"os\": {\n    \"name\": \"Linux\",\n    \"version\": \"6.8.0-57-generic\",\n    \"arch\": \"amd64\"\n  }\n}"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get server information",
        "tags": [
          "Management"
        ]
      },
      "summary": "Get general information about the server"
    },
    "/api/logout": {
      "get": {
        "description": "Invalidates the current session and clean up any remember-me authentication.",
        "operationId": "postLogout",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Logout",
        "tags": [
          "User session"
        ]
      },
      "post": {
        "description": "Invalidates the current session and clean up any remember-me authentication.",
        "operationId": "postLogout_1",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Logout",
        "tags": [
          "User session"
        ]
      },
      "summary": "Logout current session"
    },
    "/api/v1/age-ratings": {
      "get": {
        "deprecated": true,
        "description": "Use GET /v2/age-ratings instead. Deprecated since 1.26.0",
        "operationId": "getAgeRatings_1",
        "parameters": [
          {
            "in": "query",
            "name": "library_id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "in": "query",
            "name": "collection_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List age ratings",
        "tags": [
          "Deprecated",
          "Referential metadata"
        ]
      }
    },
    "/api/v1/announcements": {
      "get": {
        "description": "Required role: **ADMIN**",
        "operationId": "getAnnouncements",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonFeedDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Retrieve announcements",
        "tags": [
          "Announcements"
        ]
      },
      "put": {
        "description": "Required role: **ADMIN**",
        "operationId": "markAnnouncementsRead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Mark announcements as read",
        "tags": [
          "Announcements"
        ]
      }
    },
    "/api/v1/authors": {
      "get": {
        "deprecated": true,
        "description": "Use GET /api/v2/authors instead. Deprecated since 1.20.0.",
        "operationId": "getAuthorsDeprecated",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "library_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "collection_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "series_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List authors",
        "tags": [
          "Deprecated",
          "Referential metadata"
        ]
      }
    },
    "/api/v1/authors/names": {
      "get": {
        "deprecated": true,
        "description": "Use GET /v2/authors/names instead. Deprecated since 1.26.0",
        "operationId": "getAuthorsNames_1",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List authors' names",
        "tags": [
          "Deprecated",
          "Referential metadata"
        ]
      }
    },
    "/api/v1/authors/roles": {
      "get": {
        "deprecated": true,
        "description": "Use GET /v2/authors/roles instead. Deprecated since 1.26.0",
        "operationId": "getAuthorsRoles_1",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List authors' roles",
        "tags": [
          "Deprecated",
          "Referential metadata"
        ]
      }
    },
    "/api/v1/automatch/libraries/{libraryId}": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "queueLibraryMatch",
        "parameters": [
          {
            "in": "path",
            "name": "libraryId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Queue auto-match tasks for every series in a library",
        "tags": [
          "Plugins"
        ]
      }
    },
    "/api/v1/automatch/series/{seriesId}": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "matchSeriesNow",
        "parameters": [
          {
            "in": "path",
            "name": "seriesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyOutcome"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Auto-match metadata for a single series synchronously",
        "tags": [
          "Plugins"
        ]
      }
    },
    "/api/v1/automatch/series/{seriesId}/queue": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "queueSeriesMatch",
        "parameters": [
          {
            "in": "path",
            "name": "seriesId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Queue a background auto-match task for a single series",
        "tags": [
          "Plugins"
        ]
      }
    },
    "/api/v1/backup": {
      "get": {
        "description": "Get a list of all available database backups\n\nRequired role: **ADMIN**",
        "operationId": "listBackups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackupDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List all backups",
        "tags": [
          "Backup"
        ]
      },
      "post": {
        "description": "Create a new backup of the main database\n\nRequired role: **ADMIN**",
        "operationId": "createBackup",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDto"
                }
              }
            },
            "description": "Backup created successfully"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDto"
                }
              }
            },
            "description": "Failed to create backup"
          }
        },
        "summary": "Create new backup",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/backup/clean": {
      "post": {
        "description": "Delete old backups, keeping only the most recent N backups\n\nRequired role: **ADMIN**",
        "operationId": "cleanOldBackups",
        "parameters": [
          {
            "description": "Number of backups to keep (default: 10)",
            "in": "query",
            "name": "keep",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanupResultDto"
                }
              }
            },
            "description": "Old backups cleaned successfully"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Clean old backups",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/backup/full": {
      "post": {
        "description": "Create a backup of both main and tasks databases\n\nRequired role: **ADMIN**",
        "operationId": "createFullBackup",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullBackupDto"
                }
              }
            },
            "description": "Full backup created successfully"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullBackupDto"
                }
              }
            },
            "description": "Failed to create backup"
          }
        },
        "summary": "Create full backup",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/backup/restore/{fileName}": {
      "post": {
        "description": "Restore database from a backup file. Note: Requires application restart.\n\nRequired role: **ADMIN**",
        "operationId": "restoreBackup",
        "parameters": [
          {
            "description": "Backup file name",
            "in": "path",
            "name": "fileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreInfoDto"
                }
              }
            },
            "description": "Restore prepared"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreInfoDto"
                }
              }
            },
            "description": "Backup not found"
          }
        },
        "summary": "Restore from backup",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/backup/{fileName}": {
      "delete": {
        "description": "Delete a specific backup file\n\nRequired role: **ADMIN**",
        "operationId": "deleteBackup",
        "parameters": [
          {
            "description": "Backup file name",
            "in": "path",
            "name": "fileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Backup deleted successfully"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "description": "Backup not found"
          }
        },
        "summary": "Delete backup",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/backup/{fileName}/download": {
      "get": {
        "description": "Download a specific backup file\n\nRequired role: **ADMIN**",
        "operationId": "downloadBackup",
        "parameters": [
          {
            "description": "Backup file name",
            "in": "path",
            "name": "fileName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Backup file"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Backup not found"
          }
        },
        "summary": "Download backup file",
        "tags": [
          "Backup"
        ]
      }
    },
    "/api/v1/books": {
      "get": {
        "deprecated": true,
        "description": "Use POST /api/v1/books/list instead. Deprecated since 1.19.0.",
        "operationId": "getAllBooksDeprecated",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "library_id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "media_status",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UNKNOWN",
                  "ERROR",
                  "READY",
                  "UNSUPPORTED",
                  "OUTDATED"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "read_status",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UNREAD",
                  "READ",
                  "IN_PROGRESS"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "released_after",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "unpaged",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List books",
        "tags": [
          "Books",
          "Deprecated"
        ]
      }
    },
    "/api/v1/books/duplicates": {
      "get": {
        "description": "Return books that have the same file hash.\n\nRequired role: **ADMIN**",
        "operationId": "getBooksDuplicates",
        "parameters": [
          {
            "in": "query",
            "name": "unpaged",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List duplicate books",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/import": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "importBooks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookImportBatchDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Import books",
        "tags": [
          "Import"
        ]
      }
    },
    "/api/v1/books/latest": {
      "get": {
        "description": "Return newly added or updated books.",
        "operationId": "getBooksLatest",
        "parameters": [
          {
            "in": "query",
            "name": "unpaged",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List latest books",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/list": {
      "post": {
        "operationId": "getBooks",
        "parameters": [
          {
            "in": "query",
            "name": "unpaged",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookSearch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List books",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/metadata": {
      "patch": {
        "description": "Set a field to null to unset the metadata. You can omit fields you don't want to update.\n\nRequired role: **ADMIN**",
        "operationId": "updateBookMetadataByBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/BookMetadataUpdateDto"
                },
                "description": "A map of book IDs which values are the metadata fields to update. Set a field to null to unset the metadata. You can omit fields you don't want to update."
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Update book metadata in bulk",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/ondeck": {
      "get": {
        "description": "Return first unread book of series with at least one book read and no books in progress.",
        "operationId": "getBooksOnDeck",
        "parameters": [
          {
            "in": "query",
            "name": "library_id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List books on deck",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/thumbnails": {
      "put": {
        "description": "Required role: **ADMIN**",
        "operationId": "booksRegenerateThumbnails",
        "parameters": [
          {
            "in": "query",
            "name": "for_bigger_result_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Regenerate books posters",
        "tags": [
          "Book Poster"
        ]
      }
    },
    "/api/v1/books/{bookId}": {
      "get": {
        "operationId": "getBookById",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book details",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/analyze": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "bookAnalyze",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Analyze book",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/blacklist": {
      "delete": {
        "description": "Required role: **ADMIN**",
        "operationId": "unblacklistBook",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "tags": [
          "book-controller"
        ]
      },
      "get": {
        "description": "Required role: **ADMIN**",
        "operationId": "isBookBlacklisted",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "tags": [
          "book-controller"
        ]
      },
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "blacklistBook",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "tags": [
          "book-controller"
        ]
      }
    },
    "/api/v1/books/{bookId}/file": {
      "delete": {
        "description": "Required role: **ADMIN**",
        "operationId": "deleteBookFile",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete book file",
        "tags": [
          "Books"
        ]
      },
      "get": {
        "description": "Download the book file.\n\nRequired role: **FILE_DOWNLOAD**",
        "operationId": "downloadBookFile",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Download book file",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/file/*": {
      "get": {
        "description": "Download the book file.\n\nRequired role: **FILE_DOWNLOAD**",
        "operationId": "downloadBookFile_1",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Download book file",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/manifest": {
      "get": {
        "operationId": "getBookWebPubManifest",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/divina+json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              },
              "application/webpub+json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book's WebPub manifest",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/manifest/divina": {
      "get": {
        "operationId": "getBookWebPubManifestDivina",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/divina+json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book's WebPub manifest (DiViNa)",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/manifest/epub": {
      "get": {
        "operationId": "getBookWebPubManifestEpub",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              },
              "application/webpub+json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book's WebPub manifest (Epub)",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/manifest/pdf": {
      "get": {
        "operationId": "getBookWebPubManifestPdf",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              },
              "application/webpub+json": {
                "schema": {
                  "$ref": "#/components/schemas/WPPublicationDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book's WebPub manifest (PDF)",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/metadata": {
      "patch": {
        "description": "Set a field to null to unset the metadata. You can omit fields you don't want to update.\n\nRequired role: **ADMIN**",
        "operationId": "updateBookMetadata",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookMetadataUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Update book metadata",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/metadata/refresh": {
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "bookRefreshMetadata",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Refresh book metadata",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/next": {
      "get": {
        "operationId": "getBookSiblingNext",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get next book in series",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/pages": {
      "get": {
        "operationId": "getBookPages",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PageDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List book pages",
        "tags": [
          "Book Pages"
        ]
      }
    },
    "/api/v1/books/{bookId}/pages/{pageNumber}": {
      "get": {
        "description": "Required role: **PAGE_STREAMING**",
        "operationId": "getBookPageByNumber",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "Convert the image to the provided format.",
            "in": "query",
            "name": "convert",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "jpeg",
                "png"
              ]
            }
          },
          {
            "description": "If set to true, pages will start at index 0. If set to false, pages will start at index 1.",
            "in": "query",
            "name": "zero_based",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Some very limited server driven content negotiation is handled. If a book is a PDF book, and the Accept header contains 'application/pdf' as a more specific type than other 'image/' types, a raw PDF page will be returned.",
            "in": "header",
            "name": "Accept",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/MediaType"
              }
            }
          },
          {
            "in": "query",
            "name": "contentNegotiation",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "default": {
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "default response"
          }
        },
        "summary": "Get book page image",
        "tags": [
          "Book Pages"
        ]
      }
    },
    "/api/v1/books/{bookId}/pages/{pageNumber}/raw": {
      "get": {
        "description": "Returns the book page in raw format, without content negotiation.\n\nRequired role: **PAGE_STREAMING**",
        "operationId": "getBookPageRawByNumber",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get raw book page",
        "tags": [
          "Book Pages"
        ]
      }
    },
    "/api/v1/books/{bookId}/pages/{pageNumber}/thumbnail": {
      "get": {
        "description": "The image is resized to 300px on the largest dimension.",
        "operationId": "getBookPageThumbnailByNumber",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageNumber",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "default response"
          }
        },
        "summary": "Get book page thumbnail",
        "tags": [
          "Book Pages"
        ]
      }
    },
    "/api/v1/books/{bookId}/positions": {
      "get": {
        "description": "The Positions API is a proposed standard for OPDS 2 and Readium. It is used by the Epub Reader.",
        "operationId": "getBookPositions",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/R2Positions"
                }
              },
              "application/vnd.readium.position-list+json": {
                "schema": {
                  "$ref": "#/components/schemas/R2Positions"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List book's positions",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/previous": {
      "get": {
        "operationId": "getBookSiblingPrevious",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get previous book in series",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/progression": {
      "get": {
        "description": "The Progression API is a proposed standard for OPDS 2 and Readium. It is used by the Epub Reader.",
        "operationId": "getBookProgression",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/R2Progression"
                }
              },
              "application/vnd.readium.progression+json": {
                "schema": {
                  "$ref": "#/components/schemas/R2Progression"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get book progression",
        "tags": [
          "WebPub Manifest"
        ]
      },
      "put": {
        "description": "The Progression API is a proposed standard for OPDS 2 and Readium. It is used by the Epub Reader.",
        "operationId": "updateBookProgression",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/R2Progression"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Mark book progression",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/protect": {
      "delete": {
        "description": "Remove deletion protection from a book\n\nRequired role: **ADMIN**",
        "operationId": "unprotectBook",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Unprotect book from deletion",
        "tags": [
          "Books"
        ]
      },
      "post": {
        "description": "Mark a book as protected to prevent automatic deletion\n\nRequired role: **ADMIN**",
        "operationId": "protectBook",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Protect book from deletion",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/read-progress": {
      "delete": {
        "description": "Mark book as unread",
        "operationId": "deleteBookReadProgress",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Mark book as unread",
        "tags": [
          "Books"
        ]
      },
      "patch": {
        "description": "Mark book as read and/or change page progress.",
        "operationId": "markBookReadProgress",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadProgressUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Mark book's read progress",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/readlists": {
      "get": {
        "operationId": "getReadListsByBookId",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadListDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List book's readlists",
        "tags": [
          "Books"
        ]
      }
    },
    "/api/v1/books/{bookId}/resource/{resource}": {
      "get": {
        "description": "Return a resource from within an Epub book.",
        "operationId": "getBookEpubResource",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Get Epub resource",
        "tags": [
          "WebPub Manifest"
        ]
      }
    },
    "/api/v1/books/{bookId}/thumbnail": {
      "get": {
        "operationId": "getBookThumbnail",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "default response"
          }
        },
        "summary": "Get book's poster image",
        "tags": [
          "Book Poster"
        ]
      }
    },
    "/api/v1/books/{bookId}/thumbnails": {
      "get": {
        "operationId": "getBookThumbnails",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThumbnailBookDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "List book posters",
        "tags": [
          "Book Poster"
        ]
      },
      "post": {
        "description": "Required role: **ADMIN**",
        "operationId": "addUserUploadedBookThumbnail",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "selected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThumbnailBookDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Add book poster",
        "tags": [
          "Book Poster"
        ]
      }
    },
    "/api/v1/books/{bookId}/thumbnails/{thumbnailId}": {
      "delete": {
        "description": "Only uploaded posters can be deleted.\n\nRequired role: **ADMIN**",
        "operationId": "deleteUserUploadedBookThumbnail",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "thumbnailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete book poster",
        "tags": [
          "Book Poster"
        ]
      },
      "get": {
        "operationId": "getBookThumbnailById",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "thumbnailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "default response"
          }
        },
        "summary": "Get book poster image",
        "tags": [
          "Book Poster"
        ]
      }
    },
    "/api/v1/books/{bookId}/thumbnails/{thumbnailId}/selected": {
      "put": {
        "description": "Required role: **ADMIN**",
        "operationId": "markBookThumbnailSelected",
        "parameters": [
          {
            "in": "path",
            "name": "bookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "thumbnailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Mark book poster as selected",
        "tags": [
          "Book Poster"
        ]
      }
    },
    "/api/v1/chapter-urls": {
      "delete": {
        "description": "Deletes ALL chapter URLs from the database. Requires confirm=true parameter.",
        "operationId": "deleteAllChapterUrls",
        "parameters": [
          {
            "description": "Set to 'true' to confirm deletion",
            "in": "query",
            "name": "confirm",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete all chapter URLs",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/chapter-urls/by-date": {
      "delete": {
        "description": "Deletes chapter URLs downloaded within the specified date range. Useful for fixing broken downloads.",
        "operationId": "deleteChapterUrlsByDateRange",
        "parameters": [
          {
            "description": "Start date (ISO format, e.g., 2025-12-01T00:00:00)",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date (ISO format, e.g., 2025-12-31T23:59:59)",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to 'true' to confirm deletion (without it, only returns count)",
            "in": "query",
            "name": "confirm",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete chapter URLs by date range",
        "tags": [
          "Chapter URLs"
        ]
      },
      "get": {
        "description": "Returns chapter URLs downloaded within the specified date range.",
        "operationId": "getChapterUrlsByDateRange",
        "parameters": [
          {
            "description": "Start date (ISO format)",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date (ISO format)",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get chapter URLs by date range",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/chapter-urls/stats": {
      "get": {
        "operationId": "getStats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterUrlStats"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Get chapter URL tracking statistics",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/chapter-urls/{id}": {
      "delete": {
        "operationId": "deleteChapterUrl",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete a chapter URL by ID",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/check-url": {
      "get": {
        "operationId": "checkUrl",
        "parameters": [
          {
            "description": "The chapter URL to check",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterUrlCheckResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Check if a URL has been downloaded",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/check-urls": {
      "post": {
        "operationId": "checkUrls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterUrlBatchCheckResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Check multiple URLs for duplicates",
        "tags": [
          "Chapter URLs"
        ]
      }
    },
    "/api/v1/claim": {
      "get": {
        "description": "Check whether this server has already been claimed.",
        "operationId": "getClaimStatus",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimStatus"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Retrieve claim status",
        "tags": [
          "Claim"
        ]
      },
      "post": {
        "description": "Creates an admin user with the provided credentials.",
        "operationId": "claimServer",
        "parameters": [
          {
            "in": "header",
            "name": "X-Komga-Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Komga-Password",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Claim server",
        "tags": [
          "Claim"
        ]
      }
    },
    "/api/v1/client-settings/global": {
      "delete": {
        "description": "Setting key should be a valid lowercase namespace string like 'application.domain.key'\n\nRequired role: **ADMIN**",
        "operationId": "deleteGlobalSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "example": [
                "application.key1",
                "application.key2"
              ],
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete global settings",
        "tags": [
          "Client settings"
        ]
      },
      "patch": {
        "description": "Setting key should be a valid lowercase namespace string like 'application.domain.key'\n\nRequired role: **ADMIN**",
        "operationId": "saveGlobalSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "application.key1": {
                  "value": "a string value",
                  "allowUnauthorized": true
                },
                "application.key2": {
                  "value": "{\"json\":\"object\"}",
                  "allowUnauthorized": false
                }
              },
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/ClientSettingGlobalUpdateDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Save global settings",
        "tags": [
          "Client settings"
        ]
      }
    },
    "/api/v1/client-settings/global/list": {
      "get": {
        "description": "For unauthenticated users, only settings with 'allowUnauthorized=true' will be returned.",
        "operationId": "getGlobalSettings",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ClientSettingDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Retrieve global client settings",
        "tags": [
          "Client settings"
        ]
      }
    },
    "/api/v1/client-settings/user": {
      "delete": {
        "description": "Setting key should be a valid lowercase namespace string like 'application.domain.key'",
        "operationId": "deleteUserSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "example": [
                "application.key1",
                "application.key2"
              ],
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Delete user settings",
        "tags": [
          "Client settings"
        ]
      },
      "patch": {
        "description": "Setting key should be a valid lowercase namespace string like 'application.domain.key'",
        "operationId": "saveUserSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "application.key1": {
                  "value": "a string value"
                },
                "application.key2": {
                  "value": "{\"json\":\"object\"}"
                }
              },
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/ClientSettingUserUpdateDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Save user settings",
        "tags": [
          "Client settings"
        ]
      }
    },
    "/api/v1/client-settings/user/list": {
      "get": {
        "operationId": "getUserSettings",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ClientSettingDto"
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Retrieve user client settings",
        "tags": [
          "Client settings"
        ]
      }
    },
    "/api/v1/collections": {
      "get": {
        "operationId": "getCollections",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "library_id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "unpaged",
[...]
